.body{
    background-color: #ffffff;
}
.slider-color
{
  background-color: #13838d;
}


.card-style
{
    width: 20rem;
    height: 30rem;
    text-align: left;
    box-shadow: 20 px 10px 10px black;
}
.card-style h5
{
    padding-top: 1rem;
    text-align: center;
    color: rgb(4, 202, 159);
}
.card-style p
{
    margin-bottom: 10px;
}
.card-style img
{
    width: 100px;
    height: 100px;
    box-shadow: black 5px 5px 5px;
}
/* Cards code */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');


h3, p {
  margin: 0;
  padding-bottom: .5em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
  font-weight: 300;
}


.custom-footer
{
    margin-top: 10rem;
}
.extra-margin-5
{
margin-top: 1rem;
}