.navbar-custom
{
    background: rgb(112, 180, 236);
    stroke: black 0.5px;
    box-shadow: black 0px 0px 15px;
    border-radius: 0px 0px 30px 30px;
}

.custom-text{
    color: antiquewhite;
}
/* .button-custom
{
	background-image: linear-gradient(rgb(145, 224, 255),rgb(0, 138, 252),rgb(145, 224, 255));
}
.button-custom1
{
	background-image: linear-gradient(rgb(180, 255, 180),green,rgb(180, 255, 180));
} */
.brand img{
    width: 140px;
    height: auto;
}
nav .navbar-nav li
{
    color: white;
    font-size:20px;
}